* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

/* homepage */

/* header {
  background-color: #ffc96f;
  color: white;
} */

.logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.navbar-brand {
  font-weight: 700;
}

.navbar {
  background-color: #ffc96f;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.nav-link:hover {
  color: white;
  padding-bottom: 0;
  border-bottom: 2px white solid;
  transition: 0.3s ease-out;
}

.active:hover {
  padding-bottom: 0;
  border-bottom: 2px black solid;
}

/* .navbar {
  animation: zoom-in 0.9s;
} */

.account {
  padding-right: 60px;
}

.user-profile {
  width: 40px;
}

.user-profile:hover {
  filter: contrast(0) brightness(100);
}

.account {
  filter: contrast(0) brightness(100);
  border: none;
}

.account.active {
  border: none;
}

#main-section {
  background-color: #ffc96f;
  color: white;
}

.main-image {
  border-radius: 10%;
}

h1 {
  font-size: 5rem;
  font-weight: bold;
}

.lead {
  font-size: 1.5rem;
}

#main-section a > img {
  filter: contrast(0) brightness(100);
}

span {
  color: black;
}

.about {
  padding: 100px 0;
  line-height: 1.5;
}
.ii {
  text-align: center;
  padding-bottom: 50px;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
}

h4 {
  font-size: 1.2rem;
  font-weight: 500;
}

.paragraph{
  font-size: 1.2rem;
  color: #666;
}

.main-about,
.about-main {
  display: flex;
  gap: 100px;
  margin: 0 10%;
  padding: 50px 0;
}

.images {
  width: 700px;
  height: 200px;
  border-top-right-radius: 40%;
  border-bottom-left-radius: 40%;
}

.text a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  border-bottom: 2px black solid;
  transition: color 0.2s;
}

.text a:hover {
  color: #ffc96f;
  border-bottom: 2px #ffc96f solid;
}

.text h3{
  transition: transform 0.2s ease-in;
}

.text h3:hover{
  transform: translateY(-3px);
}

.new-arrivals {
  background-color: #f9f9f9;
  padding-top: 50px;
  padding-bottom: 20px;
}

.new-arrivals .hero-text {
  margin-left: 5%;
  margin-bottom: 20px;
}

.new-arrivals .hero-text h2 {
  font-weight: bold;
  font-size: 2.3rem;
}

.new-arrivals-cards {
  display: flex;
  gap: 150px;
  justify-content: center;
  
}

.new-arrivals .card {
  background-color: transparent;
  border: none;
}

.new-arrivals .card3 {
   margin: 0 auto;
}

.new-arrivals .card > img {
  border-radius: 3%;
}


.new-arrivals .card .link {
  padding-right: 50%;
  text-decoration: none;
  color: #666;
  font-size: 1.2rem;
}

.animate-arrow {
  animation: slide-right 1s cubic-bezier(0.4,0,0.3,0.7) infinite;
  animation-fill-mode: both;
}

@keyframes slide-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(7px);
  }
}

.community-section {
  background-color: #f9f9f9;
  text-align: center;
  padding-top: 40px;
}

.community-section .form {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin: 0 30%;
  padding-bottom: 50px;
}

.community-section .form button {
  border: none;
  padding-top: 1px;
  padding-bottom: 1px;
}

/* .hidden {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
}

.main-sec.hidden {
  transform: translateY(-50%);
}

.main-sec.show {
  transform: translateY(0);
}

.sec-1.hidden {
  transform: translateY(100%);
  transition-duration: 0.7s;
}

.sec-1.show {
  transform: translateY(0);
}

.sec-2.hidden{
  transition-delay: 0.4s;
}

.sec-2.hidden, .sec-3.hidden, .sec-4.hidden, .sec-5.hidden {
  transform: translateX(-100%);
}

.sec-2.show, .sec-3.show, .sec-4.show, .sec-5.show {
  transform: translateX(0);
}

.sec-6.hidden {
  transform: translateY(200px);
  transition-duration: 0.5s;
}

.sec-6.show {
  transform: translateY(0);
} */

.testimonials {
  padding: 0 5% 100px;
}

.testimonials h2 {
  padding-bottom: 50px;
  text-align: center;
}

.carousel-item .card {
  border: 2px darkgrey solid;
  text-align: center;
  padding: 50px;
  margin: 0 auto;
}

.carousel-item:hover {
  border-bottom: none;
}

.testiomonial-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto 20px;
}

.footer {
  background-color: #ffc96f;
  margin-bottom: -100px;
  
}

.a {
  color: black;
}

.a:hover {
  border-bottom: none;
  color: white;
}

.footer-logo {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  margin: auto 0;
}

.social-media{
  transition: all 0.2s ;
}

.social-media:hover{
  filter: contrast(0) brightness(100);
  transform: translateY(-4px);
}

.b {
  border-top: 1.5px solid white;
}

/* .subscribe-button,
.btn-outline-dark, .cart-button {
  transition: transform 0.2s;
}

.subscribe-button:hover,
.btn-outline-dark:hover, .cart-button:hover {
  transform: scale(1.1);
}

.subscribe-button:active,
.btn-outline-dark:active{
  transform: translateY(7px);
}

.subscribe-button:active,
.btn-outline-dark:active, .cart-button:active {
  transform: translateY(5px);
} */

/* Homepage Keyframes */
/* @keyframes zoom-in {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
} */

/* product-page */
/* #Products {
  margin-bottom: 100px;
}

#Products h1 {
  font-size: 2.5rem;
  margin-top: 100px;
}

.products-text {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.products-text p {
  margin-top: 10px;
} */

.product-text {
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
}

.product-text h1 {
  font-size: 4rem;
}



/* .product-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
  text-align: center;
}

.product-row img {
  height: 15rem;
  padding-top: 10px;
}

.product-row .card-title {
  font-weight: 700;
} */

.searchbar {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 20px;
}

.searchbar input {
  width: 70%;
  border-radius: 5px;
  border: 0.7px solid;
}

.searchbar button {
  width: fit-content;
  border-radius: 5px;
}

.remove-products {
  display: none;
}

.Result-header {
  font-size: 1.2rem;
  margin-left: 2%;
  color: black;
}

.Result-header-error {
  font-size: 1.2rem;
  margin-left: 2%;
  color: red;
}


.product {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
  text-align: center;
}

.product img {
  height: 17rem;
  padding-top: 10px;
}

.fw, .li, .mc, .fww, .lii, .mcc {
  margin-left: 2%;
  margin-right: 2%;
}

.fw h2, .li h2, .mc h2 {
  margin-top: 60px;
  text-align: center;
}


.fw .slider-container,
.fww .slider-container,
 .slider-container-2,
  .lingeries .slider-container,
   .night-wears .slider-container {
  margin: 0 auto;
  width: 100%;
  overflow-x: auto;
  overscroll-behavior-x: contain;
} 

.slider {
  display: flex;
  width: max-content;
  transition: transform 0.5s ease;

}

.slide {
  padding: 15px;
  box-sizing: border-box;
  
}

.slide .card {
  padding: 10px;
  padding-top: 2px;
  height: auto;
}

.slide .card .card-title {
  font-weight: 700;
}

.slide .card .card-text {
  margin-bottom: 5px;
  font-size: 1.1rem;
}

.cloth-size {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 5px;
}

.product-quantity-container {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.product-quantity-container select {
  border-radius: 3px;
  border-color: #ffc96f;
}

.product-quantity-container p {
  margin-top: 20px;
}

.search-results .fw {
  margin: 0 auto;
} 

.review-form-section {
  background-color: #f9f9f9;
  padding: 40px;
  border-radius: 10px;
  max-width: 600px;
  height: 600px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.review-form {
  display: flex;
  flex-direction: column;
}

.review-form-section .form-group {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
  margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.review-form-section .form-group
input:focus, .review-form-section .form-group
textarea:focus, .review-form-section .form-group
select:focus,
.searchbar input:focus,
.community-section .form input:focus {
  border-color: #ffc96f;
  outline: none;
}

.review-form-section .form-group
select:focus {
  box-shadow: none;
}

.review-form-section textarea {
  resize: vertical;
}

.review-form-section button {
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 200px;
}

/* mediaqueries */

/* @media (max-width: 405px) {
  #main-section h1 {
    font-size: 3.5rem;
  }

  #main-section p {
    font-size: 1.2rem;
  }
} */

@media (max-width: 440px) {
  /* .cart-button{
    position: absolute;
    left: 56vw;
  } */

  /* #main-section h1 {
    font-size: 4rem;
  }

  #main-section p {
    font-size: 1.2rem;
  } */

  .community-section .form {
    margin: 0 5%;
  }
}



@media (max-width: 500px) {
  #main-section h1 {
    font-size: 3.5rem;
  }

  #main-section p {
    font-size: 1rem;
  }

  #main-section a {
    font-size: 0.9rem;
  }

  #main-section a > img {
    width: 12px;
  }

  .new-arrivals {
    width: 100%;
    margin: 0 auto;
  }

  .new-arrivals .card {
    width: 18rem;
  }

  .new-arrivals .card > img {
    width: 90%;
    height: 300px;
  }
}

@media (max-width: 950px) {
  .new-arrivals-cards {
    flex-direction: column;
    gap: 0;
  }

  .new-arrivals-cards .card {
    margin: 0 auto;
  }

  .community-section .form {
    margin: 0 20%;
  }
}

@media (max-width: 991px) {
  .nav-link:hover {
    width: 100px;
  }

  .cart-button{
    position: absolute;
    top: 15px;
    left: 60vw;
  }

  /* .account {
    position: absolute;
    top: 13px;
    left: 50vw;
  } */
}

@media (max-width: 700px) {
  /* .account {
    top: 17px;
  }

  .user-profile {
    width: 35px;
  } */

  #about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-about {
    display: flex;
    flex-direction: column-reverse;
    gap: 50px;
  }

  .about-main {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .images {
    width: auto;
  }
}

@media (max-width: 471px) {
  .shopayo {
    font-size: 1rem;
  }


  .cart-button {
    left: 45vw;
  }
}

@media (max-width: 400px) {

  .new-arrivals-cards {
    width: 50px;
  }

  .new-arrivals-cards .card {
    width: 50px;
    padding-right: 0px;
  }

  .review-form-section {
    margin-bottom: 100px;
  }
}

/* SignIn page */
.account-header {
  text-align: center;
  margin-top: 10px;
}

.account-header img{
  border-radius: 50%;
  width: 60px;
}

.section1 {
  text-align: center;
  margin: 30px auto 40px;
  border: 1px solid #ffc96f;
  border-radius: 4px;
  width: 400px;
  padding:  40px 0 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.section1 h1 {
  font-size: 2.7rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.section1 p {
  font-size: 1.2rem;
  color: #333;
}

.section1 form {
  margin-top: 50px;
  text-align: left;
}

.signIn-label {
  display: block;
  margin-bottom: 5px;
  margin-left: 20px;
  font-size: 0.9rem;
  font-weight: bold;
}

.signIn-input[type="email"],
.signIn-input[type="password"]{
  width: 90%;
  margin-left: 20px;
  margin-right: 10px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  color: #333;
  transition: border-color 0.3s ease;
}

.signIn-input:focus {
  border-color: #ffc96f;
  outline: none;
}

.signIn-btn {
  display: block;
  margin: 20px auto;
  width: 90%;
  padding: 12px;
  border-radius: 4px;
}

.label2 {
  margin-top: 20px;
}

.label3 {
  font-size: 0.9rem;
  font-weight: bold;
  margin-left: 5px;
}

.fb {
  margin-left: 20px;
}

.fp {
  margin-left: 76px;
  font-size: 0.9rem;
}

/* Create Account Page */
p.ca {
  font-size: 1rem;
  width: 400px;
  margin-top: 30px;
}

.ca a {
  margin-left: 10px;
}

.signUp-form {
  width: 450px;
}

.signUp-label {
  display: block;
  margin-bottom: 5px;
  margin-left: 20px;
  font-size: 0.9rem;
  font-weight: bold;
}

.signUp-input[type="text"],
.signUp-input[type="text"],
.signUp-input[type="email"],
.signUp-input[type="password"]{
  width: 90%;
  margin-left: 20px;
  margin-right: 10px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  color: #333;
  transition: border-color 0.3s ease;
}

.signUp-input:focus {
  border-color: #ffc96f;
  outline: none;
}

.signUp-input[placeholder= "At least 8 characters"] {
  font-size: 0.9rem;
}

.signUp-btn {
  display: block;
  margin: 20px auto;
  width: 90%;
  padding: 12px;
  border-radius: 4px;
}

.ficons img:hover, ficons img:focus {
  filter: contrast(0) brightness(100);
}

@media (max-width: 500px) {
  /* body {
    overflow-x: hidden;
  } */
  .signUp-form {
    width: 350px;
  }

  .section1 h1 {
    font-size: 2.3rem;
  }
  
  .section1 p {
    font-size: 1rem;
  }

.signUp-input[type="text"],
.signUp-input[type="text"],
.signUp-input[type="email"],
.signUp-input[type="password"]{
  padding: 10px;
  font-size: 0.8rem;
}

.signUp-input[placeholder= "At least 8 characters"] {
  font-size: 0.7rem;
}

.signUp-btn {
  padding: 10px;
}

.signUp-form {
  width: 350px;
}

.signIn-input[type="text"],
.signIn-input[type="text"],
.signIn-input[type="email"],
.signIn-input[type="password"]{
padding: 10px;
font-size: 0.8rem;
}

.signUp-input[placeholder= "At least 8 characters"] {
font-size: 0.8rem;
}

.signIn-btn {
padding: 10px;
}

.signIn-form {
  width: 350px;
}

.fp {
  margin-left: 50px;
  font-size: 0.9rem;
}

p.ca {
  font-size: 0.9rem;
  width: 350px;
}
}




/* .slider-container {
  margin: 0 auto;
  width: 80%;
  overflow-x: auto;
  overscroll-behavior-x: contain;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  padding: 10px;
  box-sizing: border-box;
}

.slide .card {
  text-align: center;
  width: 250px;
  padding: 10px 20px;
  border: 1px solid #ffc96f;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.slide .card p {
  margin-bottom: 20px;
} */